.header {
    display: flex;
    align-items: center;
    margin-left: 13%;
    padding-top: 3%;
}
.header__title {
    font-size: 4rem;
}

.header__logo-wrapper {
    margin-left: 2rem;
}

@media screen and (max-width: 414px) {
    .header {
        max-width: 900px;
        margin-top: 1rem;
    }
    .header__title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 658px) {
    .header__logo-img {
        width: 100%;
        height: 100%;
    }
    .header__title {
        font-size: 2rem;
    }
}